* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  line-height: 1;
}

body {
  background: linear-gradient(to bottom, #EECFBA, #C5DDE8);
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}

