* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  line-height: 1;
}



body {
  font-family: 'Work Sans', 'Helvetica', sans-serif;

  background: linear-gradient(to bottom, #EECFBA, #C5DDE8);
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
h1 {
  margin: 25px auto 35px;

  font-family: 'Work Sans', 'Helvetica', sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.resume-item {
  font-family: 'Work Sans', 'Helvetica', sans-serif;

  border: 2px dashed #adad85;
  margin-bottom: 50px;
}
ul {
  text-align: center;
  list-style: none;
}
ul li{
  margin-bottom: 10px;
}
.resume-item h2 {
  margin: 10px auto;

  font-size: 25px;
  font-weight: 500;
  font-family: 'Work Sans', 'Helvetica', sans-serif;
  text-align: center;
  color: #3d3d29;

  text-transform: uppercase;
}

.resume-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-block.english {
  flex-direction: column;
}

.resume-block p,
.resume-block li {
  font-size: 20px;
}

.resume-block img {
  width: 290px;
}
.resume-item a {
  color: #ff4d4d;

  text-decoration: none;
}

